# Compiled Object files
*.slo
*.lo
*.o
Silence.Core/*.obj
Silence.Api/*.obj
Silence/*.obj

*.db
*.opendb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
Silence.Core/*.dll
Silence.Api/*.dll
Silence/*.dll


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
Silence.Core/*.lib
Silence.Api/*.lib
Silence/*.lib

# Executables
*.exe
*.out
*.app

# Vs files
*.sdf
*.tlog
*.pdb

# Folders
Release/
Debug/
.vs/
Silence.Core/Release/
Silence.Api/Release/
Silence/Release/
Silence.Core/Debug/
Silence.Api/Debug/
Silence/Debug/